/* Reset margin and padding for all elements */
html, body {
    margin: 0;
    padding: 0;
}
/* Style for header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*NAVIGATION BAR STYLE STARTS HERE*/

/* Style for navigation bar */
nav {
    margin: 0px auto 0;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.9); /* Black with 70% opacity */
    border-radius: 8px;
    display: flex;
    justify-content: space-between; /* Distribute the remaining space evenly between the flex items */
    align-items: center; /* Align the items vertically in the center */
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* Style for logo */
#logo {
    align-self: flex-start;
    margin: auto; /* Center the logo vertically and horizontally */
    width: 50px;
    height: 50px;
    object-fit: cover; /* Ensure the logo image maintains its aspect ratio */
    border-radius: 50%; /* Make the logo image circular */
    display: inline-block;
    position: relative;
    justify-content: space-between;
}

/* Style for navigation links */
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 70%;
    position: relative;
    align-self: center;
}

/* Style for login button */
#login {
    align-self: flex-start;
    margin: auto;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

/* Style for navigation links */
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ecf0f1;
    cursor: pointer;
    width: 20%;
    font-family: 'Roboto', sans-serif;
}

/* Style for animation in navigation links */
.nav-links .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 20%;
}

a:nth-child(2) {
    width: 20%;
}

a:nth-child(3) {
    width: 20%;
}

a:nth-child(4) {
    width: 20%;
}

a:nth-child(5) {
    width: 20%;
}

nav .start-home, a:nth-child(1):hover~.animation {
    width: 20%;
    left: 0;
    background-color: #1abc9c;
}

nav .start-about, a:nth-child(2):hover~.animation {
    width: 20%;
    left: 20%;
    background-color: #e74c3c;
}

nav .start-blog, a:nth-child(3):hover~.animation {
    width: 20%;
    left: 40%;
    background-color: #3498db;
}

nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 20%;
    left: 60%;
    background-color: #9b59b6;
}

nav .start-contact, a:nth-child(5):hover~.animation {
    width: 20%;
    left: 80%;
    background-color: #e67e22;
}

/*NAVIGATION BAR STYLE ENDS HERE*/


/* Style for body */
body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background: url('Images/futbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Style for container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    text-align: left;
}

/* Style for h1 */
h1 {
    text-align: left;
    margin: 40px 0 40px;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Roboto', sans-serif;
}



/* Style for row */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1.2;
}

/* Style for footy-local */
.footy-local {
    display: flex;
    align-items: center; /* Centers the content vertically */
    gap: 10px; /* Adds a gap between the text and the image */
    font-size: 75px; /* Same as the body */
    color: #ecf0f1; /* Same as the body */
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


/* Style for logodos */
#logodos {
    width: 100px; /* Same as the #logo */
    height: 100px; /* Same as the #logo */
    object-fit: cover; /* Ensure the logo image maintains its aspect ratio */
    border-radius: 50%; /* Make the logo image circular, same as the #logo */
    display: inline-block;
    position: relative;
    margin-right: 10px; /* Add some space between the logo and the text */
    vertical-align: middle; /* Align the logo vertically with the text */
}

/* Style for apple-logo */
.apple-logo {
    width: 230px; /* Adjust this value as needed */
    height: auto;
    object-fit: contain;
    margin: 13px;
    align-items: center;
    text-align: left;
}

/* Style for apple-container */
.apple-container {
    display: flex;
    align-items: center;
    text-align: left;
}

/* Style for google-logo */
.google-logo {
    width: 260px; /* Adjust this value as needed */
    height: auto;
    object-fit: contain;
    margin: 0;
    align-items: center;
    text-align: left;
}

/* Style for google-container */
.google-container {
    display: flex;
    align-items: center;
    text-align: left;
}

/* Style for page-text */
.page-text {
    text-align: center;
    font-size: 30px; /* Same as the body */
    color: #ecf0f1; /* Same as the body */
    font-family: Helvetica; /* Same as the body */
    text-align: left;
}

/* Style for footer */
footer {
    position: fixed; /* Fix the position of the footer */
    bottom: 0; /* Set the footer to the bottom of the page */
    width: 100%; /* Make the footer span the full width of the page */
    text-align: center;
    align-items: center;
    justify-content: center;
    word-spacing: 30px;
    padding: 20px;
    font-family: Helvetica;
}

/* Style for images in footer */
footer img {
    width: 50px;
    height: 50px;
}

/* Style for links in footer */
footer a {
    text-decoration: none;
}