/* Existing CSS */

/* ... */

/* Media queries for responsiveness */

@media screen and (max-width: 1200px) {
    /* Adjust styles for screens smaller than 1200px */
    .nav-links a {
        font-size: 14px;
    }
    h1 {
        font-size: 40px;
    }
    .page-text {
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    /* Adjust styles for screens smaller than 800px */
    .nav-links a {
        font-size: 12px;
    }
    h1 {
        font-size: 30px;
    }
    .page-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    /* Adjust styles for screens smaller than 500px */
    .nav-links a {
        font-size: 10px;
    }
    h1 {
        font-size: 20px;
    }
    .page-text {
        font-size: 15px;
    }
}
/* Reset margin and padding for all elements */
html, body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
section {
    min-height: 100vh; /* Make the section take up the full viewport height */
    padding: 50px; /* Add some padding to create space around the content */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Use different background colors for different sections */
#page1 {
    height: 100vh; /* Make the section take up the full viewport height */

}

#page2 {
    height: 100vh; /* Make the section take up the full viewport height */
    background-color: #e0e0e0;
     margin-top: 50px; /* Adjust this value as needed */
}

#page3 {
    background-color: #c8c8c8;
}
/* Style for header */
header {
    position: relative; /* Add this line */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

/*NAVIGATION BAR STYLE STARTS HERE*/

/* Style for navigation bar */
nav {
    margin: 0px auto 0;
    position: fixed; /* Make the navigation bar fixed */
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8); /* Black with 70% opacity */
    display: flex;
    justify-content: space-between; /* Distribute the remaining space evenly between the flex items */
    align-items: center; /* Align the items vertically in the center */
    color: #ecf0f1; /* Same as the body */
    font-family: 'Roboto', sans-serif;    font-size: 15px;
    z-index: 1; /* Add this line */
}

/* Style for logo */
#logo {
    position: absolute;
    top: 10px; /* Adjust this value as needed */
    left: 50px; /* Adjust this value as needed */
    width: 50px;
    height: 50px;
    object-fit: cover; /* Ensure the logo image maintains its aspect ratio */
    border-radius: 50%; /* Make the logo image circular */
    z-index: 2; /* Add this line */
}


/* Style for navigation links */
.nav-links {
    display: flex;
    justify-content: center; /* Center the navigation links horizontally */
    width: 100%; /* Take up the full width of its parent */
    position: relative;
    align-self: center;
    padding: 0 15%; /* Add padding to left and right to avoid overlap with logo and login button */

}

/* Style for login button */
#login {
    position: absolute;
    top: 10px; /* Adjust this value as needed */
    right: 50px; /* Adjust this value as needed */
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    z-index: 2; /* Add this line */
}

/* Style for navigation links */
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ecf0f1;
    cursor: pointer;
    width: 20%;
    font-family: 'Roboto', sans-serif;
}
nav a:hover {
    color: #ffffff; /* Change the text color when hovered */
    background-color: #4e4d4d; /* Change the background color when hovered */
}

/* Style for animation in navigation links */


/*NAVIGATION BAR STYLE ENDS HERE*/


/* Style for body */
body {
    background: url('Images/futbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 0.8; /* Decrease this value to bring lines closer together */
}

/* Style for container */
.container {
    display: grid;
    place-items: center;
    min-height: 80vh;
    text-align: center;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly between the children */
    align-items: center; /* Align items to the left */
    text-align: center; /* Align text to the left */
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: #ecf0f1; /* Same as the body */
    line-height: 1.5; /* Decrease this value to bring lines closer together */
    margin-top: 50px; /* Add some top margin to push down the content */

}

/* Style for footy-local */
.footy-local {
    align-items: center; /* Centers the content vertically */
    gap: 15px; /* Adds a gap between the text and the image */
    font-size: 75px; /* Same as the body */
    color: #ecf0f1; /* Same as the body */
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

/* Style for h1 */
h1 {
    text-align: center;
    font-size: 50px;
    color: #ecf0f1; /* Same as the body */
    font-family: 'Roboto', sans-serif;
}

/* Style for page-text */
.page-text {
    font-size: 30px; /* Same as the body */
    color: #ecf0f1; /* Same as the body */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2; /* Decrease this value to bring lines closer together */
}

/* Style for logodos */
#logodos {
    width: 100px; /* Same as the #logo */
    height: 100px; /* Same as the #logo */
    object-fit: cover; /* Ensure the logo image maintains its aspect ratio */
    border-radius: 50%; /* Make the logo image circular, same as the #logo */
    display: inline-block;
    position: relative;
    margin-right: 10px; /* Add some space between the logo and the text */
    vertical-align: middle; /* Align the logo vertically with the text */
}

/* Style for apple-logo */
.apple-logo {
    width: 250px; /* Adjust this value as needed */
    height: auto;
    object-fit: contain;
    margin: 16px;
    align-items: center;
    text-align: center;
}

/* Style for google-logo */
.google-logo {
    width: 280px; /* Adjust this value as needed */
    height: auto;
    object-fit: contain;
    margin: 0px;
    align-items: center;
    text-align: center;
}



/* Style for footer */
/* Style for footer */
/* Style for footer-div */
.footer-div {
    width: 100%; /* Make the footer span the full width of the page */
    text-align: center;
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    word-spacing: 30px;
    padding: 20px;
    font-family: Helvetica;
}

/* Style for images in footer-div */
.footer-div img {
    width: 50px;
    height: 50px;
    margin: 0 15px; /* Add horizontal margins */
}

/* Style for links in footer-div */
.footer-div a {
    text-decoration: none;
}