/* Existing CSS */

/* ... */

/* Media queries for responsiveness */

@media screen and (max-width: 1200px) {
    /* Adjust styles for screens smaller than 1200px */
    .nav-links a {
        font-size: 14px;
    }
    h1 {
        font-size: 40px;
    }
    .page-text {
        font-size: 25px;
    }
}

@media screen and (max-width: 800px) {
    /* Adjust styles for screens smaller than 800px */
    .nav-links a {
        font-size: 12px;
    }
    h1 {
        font-size: 30px;
    }
    .page-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    /* Adjust styles for screens smaller than 500px */
    .nav-links a {
        font-size: 10px;
    }
    h1 {
        font-size: 20px;
    }
    .page-text {
        font-size: 15px;
    }
}



/* Define the keyframes for the animation */
@keyframes background-switch {
    0% {
        background-image: url('Images/futbackground.jpg');
    }
    33% {
        background-image: url('Images/footybackground.jpeg');
    }
    66% {
        background-image: url('Images/atl.jpeg');
    }
    100% {
        background-image: url('Images/footybackground.jpeg');
    }
}
#page1.image1 {
    background-image: url('Images/futbackground.jpg');
}


#page1.image2 {
    background-image: url('Images/atl.jpeg');
}

#page1 {
    transition: background-image 1s ease-in-out;
}


/* Reset margin and padding for all elements */
html, body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
html {
    scroll-behavior: smooth;
}
section {
    min-height: 100vh; /* Make the section take up the full viewport height */
    padding: 50px; /* Add some padding to create space around the content */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Use different background colors for different sections */
#page1 {
    height: 100vh; /* Make the section take up the full viewport height */
    background: url('Images/futbackground.jpg') no-repeat center center fixed;
    background-size: cover;

}


/* Style for header */
header {
    position: relative; /* Add this line */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

/*NAVIGATION BAR STYLE STARTS HERE*/

/* Style for navigation bar */
nav {
    margin: 0px auto 0;
    position: fixed; /* Make the navigation bar fixed */
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8); /* Black with 70% opacity */
    display: flex;
    justify-content: space-between; /* Distribute the remaining space evenly between the flex items */
    align-items: center; /* Align the items vertically in the center */
    color: #ecf0f1; /* Same as the body */
    font-family: 'Roboto', sans-serif;    font-size: 15px;
    z-index: 1; /* Add this line */
}

/* Style for logo */
#logo {
    position: absolute;
    top: 10px; /* Adjust this value as needed */
    left: 50px; /* Adjust this value as needed */
    width: 50px;
    height: 50px;
    object-fit: cover; /* Ensure the logo image maintains its aspect ratio */
    border-radius: 50%; /* Make the logo image circular */
    z-index: 2; /* Add this line */
}


/* Style for navigation links */
.nav-links {
    display: flex;
    justify-content: center; /* Center the navigation links horizontally */
    width: 100%; /* Take up the full width of its parent */
    position: relative;
    align-self: center;
    padding: 0 15%; /* Add padding to left and right to avoid overlap with logo and login button */

}

/* Style for login button */
#login {
    position: absolute;
    top: 10px; /* Adjust this value as needed */
    right: 50px; /* Adjust this value as needed */
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    z-index: 2; /* Add this line */
}

/* Style for navigation links */
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ecf0f1;
    cursor: pointer;
    width: 20%;
    font-family: 'Roboto', sans-serif;
}
nav a:hover {
    color: #ffffff; /* Change the text color when hovered */
    background-color: #4e4d4d; /* Change the background color when hovered */
}

/* Style for animation in navigation links */


/*NAVIGATION BAR STYLE ENDS HERE*/


/* Style for body */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 0.8; /* Decrease this value to bring lines closer together */
}

/* Style for container */
.container {
    display: grid;
    place-items: center;
    min-height: 80vh;
    text-align: center;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly between the children */
    align-items: center; /* Align items to the left */
    text-align: center; /* Align text to the left */
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: #ecf0f1; /* Same as the body */
    line-height: 1.5; /* Decrease this value to bring lines closer together */
    margin-top: 50px; /* Add some top margin to push down the content */

}

/* Style for footy-local */
.footy-local {
    align-items: center; /* Centers the content vertically */
    gap: 15px; /* Adds a gap between the text and the image */
    font-size: 75px; /* Same as the body */
    color: #ecf0f1; /* Same as the body */
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

/* Style for h1 */
h1 {
    text-align: center;
    font-size: 50px;
    color: #ecf0f1; /* Same as the body */
    font-family: 'Roboto', sans-serif;
}

/* Style for page-text */
.page-text {
    font-size: 30px; /* Same as the body */
    color: #ecf0f1; /* Same as the body */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2; /* Decrease this value to bring lines closer together */
}

/* Style for logodos */
#logodos {
    width: 100px; /* Same as the #logo */
    height: 100px; /* Same as the #logo */
    object-fit: cover; /* Ensure the logo image maintains its aspect ratio */
    border-radius: 50%; /* Make the logo image circular, same as the #logo */
    display: inline-block;
    position: relative;
    margin-right: 10px; /* Add some space between the logo and the text */
    vertical-align: middle; /* Align the logo vertically with the text */
}

/* Style for apple-logo */
.apple-logo {
    width: 250px; /* Adjust this value as needed */
    height: auto;
    object-fit: contain;
    margin: 16px;
    align-items: center;
    text-align: center;
}

/* Style for google-logo */
.google-logo {
    width: 280px; /* Adjust this value as needed */
    height: auto;
    object-fit: contain;
    margin: 0px;
    align-items: center;
    text-align: center;
}



/* Style for footer */
/* Style for footer */
/* Style for footer-div */
.footer-div {
    width: 100%; /* Make the footer span the full width of the page */
    text-align: center;
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    word-spacing: 30px;
    padding: 20px;
    font-family: Helvetica;
}

/* Style for images in footer-div */
.footer-div img {
    width: 50px;
    height: 50px;
    margin: 0 15px; /* Add horizontal margins */
}

/* Style for links in footer-div */
.footer-div a {
    text-decoration: none;
}

/* Style for Page 2 */
#page2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 20px;
    padding: 50px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background: #ffffff;
    background-size: cover;

}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 0.8;
}

.container {
    width: 1200px; /* Set a fixed width for the main container */
    margin: 0 auto; /* Center the container */
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .container {
        width: 100%; /* Make the container take up the full width of the screen */
    }
}
.text-content {
    flex: 1;
    text-align: left;
    line-height: 1.5; /* Adjust this value as needed */
    max-width: 500px; /* Adjust this value as needed */
    margin: auto;
    align-items: center;
    color: #000000;

}

.image-content {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    max-width: 600px; /* Adjust this value as needed */
    margin: auto;
}

.image-content img {
    width: 50%; /* Adjust as needed */
    height: auto;
}

#page2 .text-content p {
    margin-top: 20px; /* Adjust this value as needed */
}

#page2 h1, #page2 h2 {
    text-align: center;
    color: #000000;
    line-height: 1; /* Adjust this value as needed */
}

#page2 p {
    text-align: center;
    font-size: 30px;
}

.app-store-icons {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    gap: 20px;
}

.apple-logo {
    width: 250px;
    height: auto;
}
.google-logo {
    width: 280px;
    height: auto;
}

/* Style for Contact Us page (Page 3) */
/* Style for form in the contact page */
#page3 {
    background-color: #4e4d4d; /* Black background */
    color: #ecf0f1; /* White text */
    font-family: 'Roboto', sans-serif; /* Roboto font */
}

#page3 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#page3 form label {
    font-size: 18px;
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
}

#page3 form input[type="text"],
#page3 form input[type="email"],
#page3 form input[type="tel"],
#page3 form select,
#page3 form textarea {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ecf0f1;
    background-color: #ecf0f1; /* White background */
    color: #4e4d4d; /* Black text */
    font-family: 'Roboto', sans-serif; /* Roboto font */

}

#page3 form input[type="submit"] {
    background-color: #ecf0f1; /* White background */
    color: #4e4d4d; /* Black text */
    font-family: 'Roboto', sans-serif; /* Roboto font */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#page3 form input[type="submit"]:hover {
    background-color: #4e4d4d; /* Black background */
    color: #ecf0f1; /* White text */
}

/* Style for the Location Page */

#locations-page header div h1{
    padding-top: 80px;
    text-shadow: 2px 2px 4px #000000;

}

#locations-page {
    background: url('Images/futbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #ecf0f1; /* White text */
}
#locations-page header div h1,
#locations-page header div p {
    line-height: 2; /* Adjust this value as needed */
    text-shadow: 2px 2px 4px #000000;
}

#locations-page header div p {
    font-size: 30px;
    max-width: 500px; /* Adjust this value as needed */
    margin: auto;
    align-items: center;
}

.location-button {
    background-color: #e80000;
    color: #ffffff;
    border: 8px solid #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px; /* Add some border radius to make the buttons look cleaner */
}
.location-button:hover {
    background-color: #ff0000; /* Change the background color on hover */
    color: #ffffff; /* Change the text color on hover */
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh; /* Adjust this value as needed */
    margin-bottom: 50px; /* Adjust this value as needed */
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 20vh;
    margin-bottom: 50px; /* This line adds space below the buttons */
}

.region-box {
    width: 375px; /* Adjust as needed */
    padding: 25px; /* Adjust as needed */
    background-color: #f8f8f8; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Small shadow for a "lifted" effect */
    margin: 20px auto; /* Center the box and add some margin at the top and bottom */
    text-align: center; /* Center the text */
    font-family: 'Roboto', sans-serif;
    color: white; /* Black text */
    font-size: 23px;
    line-height: 1.5; /* Adjust this value as needed */
    background-image: url(Images/atl.jpeg); /* Add your image path here */
    background-size: cover; /* This will make sure the image covers the whole region box */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
}
.region-box p1{
    font-family: 'Roboto', sans-serif;
    color: white; /* Black text */
    line-height: 2; /* Adjust this value as needed */
    font-size: 15px;

}

.region-box h2 {
    margin-bottom: 10px; /* Add some space below the title */
    font-family: 'Roboto', sans-serif;
    line-height: 1; /* Adjust this value as needed */

}

.region-box .region-description {
    margin: 20px 0; /* Add some space above and below the description */
    font-family: 'Roboto', sans-serif;
    line-height: 1; /* Adjust this value as needed */

}

.region-box .explore-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    font-family: 'Roboto', sans-serif;
    border: 8px solid #000000; /* Add a 2px solid black border */
    padding: 10px 20px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Necessary for adding padding */
    font-size: 20px; /* Adjust as needed */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
    border-radius: 5px; /* Rounded corners */
    line-height: 2; /* Adjust this value as needed */

}
.explore-button:hover {
    background-color: #45a049; /* Change the background color on hover */
    color: #ffffff; /* Change the text color on hover */
}

/* Style for Events Page */

#events-page header div h1{
    padding-top: 80px;
    text-shadow: 2px 2px 4px #000000;

}

#events-page {
    background: url('Images/futbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #ecf0f1; /* White text */
}
#events-page header div h1,
#events-page header div p {
    line-height: 2; /* Adjust this value as needed */
    text-shadow: 2px 2px 4px #000000;
}

/* Style for the Community Page */

#community-page header div h1{
    padding-top: 80px;
    text-shadow: 2px 2px 4px #000000;

}

#community-page {
    background: url('Images/futbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #ecf0f1; /* White text */
}
#community-page header div h1,
#community-page header div p {
    line-height: 2; /* Adjust this value as needed */
    text-shadow: 2px 2px 4px #000000;
}




